/* External Styling */


html, body {
    margin: 10px;
    padding: 10px;
}

.background {
    background-color: #bae7b4;
}

h1, h2, p , button {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: none;
    color: black;
}

h1 {
    color: #dd756e;
    text-shadow: -2px -2px 0 black;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

a {
    width: 90px;
    height: 20px;
    padding: 15px;
    margin: 20px;
    border: 2px solid black;
    background-color: rgb(189, 189, 233);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color: black;
    text-align: center;
}

a:hover {
    background-color: rgb(189, 189, 189);
    transition: 0.3s;
}

a:active {
    background-color: rgb(198, 247, 209);
}

button {
    width: 70px;
    padding: 5px;
    margin: 10px;
}

.images {
    position: relative;
    padding: 15px;
    margin: 100px;
}

img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#img1 {
    left: 15%;
    transform: translateX(-100px) translateY(-50%);
}

#img2 {
    left: 50%;
    transform: translateX(-100px) translateY(-50%);
}

#img3 {
    left: 85%;
    transform: translateX(-100px) translateY(-50%);
}

h2 {
    text-decoration: underline;
}